Bot noticias tech telegram.json
{
  "name": "Bot noticias tech telegram",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -736,
        -352
      ],
      "id": "42a05c2f-62ad-4e90-9100-b546fee53e7e",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://www.xataka.com/index.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -528,
        -352
      ],
      "id": "b096121b-4b9f-4af8-a43e-21df899b8817",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Resume esta noticia en 3-4 líneas en español, de forma clara y concisa:\nTitulo:  {{ $json.title }}\nContenido: {{ $json.contentSnippet }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -112,
        -352
      ],
      "id": "65f8ea88-5562-4891-ae82-4b4590884891",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "maxItems": 3
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -320,
        -352
      ],
      "id": "dc8eb091-49ac-43b3-a60d-4e995c201251",
      "name": "Limit"
    },
    {
      "parameters": {
        "chatId": "1369492650",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        240,
        -352
      ],
      "id": "540f7260-1abc-4009-9bc6-382b9a233c82",
      "name": "Send a text message",
      "webhookId": "ab9b6ed9-f3ad-4626-9f7d-a80a02a8ef6f",
      "credentials": {
        "telegramApi": {
          "id": "SQGuC8jYZnCwN1xc",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        112,
        -240
      ],
      "id": "5d091c1b-e197-4767-ab52-0cb936d50668",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "R795rmK8P2hfpgtE",
          "name": "Groq account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "de84c621-97a0-4805-83c3-dfca02f4d116",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "179ae48f3a8eddbf16613c47cc06a99e50667fd869a49c2846bde908eb3cee72"
  },
  "id": "IiRNPedu1mhStoJx",
  "tags": []
}